@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu-Regular.eot');
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
        url('../assets/fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Ubuntu-Regular.woff') format('woff'),
        url('../assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu-Bold.eot');
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
        url('../assets/fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Ubuntu-Bold.woff') format('woff'),
        url('../assets/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
