.header {
	width: 100%;
	padding: 17px 79px;
	background: $bg-color-rgba;
	box-shadow: $box-shadow;
	display: flex;
	justify-content: space-between;

	&:hover {
		opacity: 0.41;
		background: $bg-color;
		mix-blend-mode: normal;
	}
}

.hd-logo-block {
	display: flex;
	align-items: center;

	.hd-logo {
		font-weight: 700;
		font-size: 22px;
		line-height: 22px;
		color: $color-white;


		&:hover {
			color: $hover-color;
		}
	}
}

.hd-panel {
	height: 24px;
	display: flex;
	justify-content: center;
	gap: 48px;

	.hd-panel-icons {
		display: flex;
		gap: 24px;

		.icon-anch {
			color: #fff;

			&:first-child{
				margin-right: 3px;
			}

			&:hover {
				color: $hover-color;
			}
		}
	}

	.hd-panel-greeting {
		@include fontS;
		color: $color-white;
		display: flex;
		align-items: center;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			height: 19px;
			border-left: 1px solid $color-white;
			mix-blend-mode: normal;
			opacity: 0.4;
			left: -27px;
		}
		.entry {
			@include fontS;
			color: currentColor;

			&:hover {
				color: $hover-color;
			}
		}
	}
}