.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 100%;
  max-width: 444px;
  padding: {top: 30px; bottom: 38px; };
  background-color: $color-white;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-form-wrapper {
  width: 100%;
  max-width: 324px;
}

.form-entry {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

  .entry-signup {
    @include fontL;
    color: $color-black;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 30px;
      background-color: $form-color;
    }
  }

  .entry-login {
    @include fontS;
    color: $form-color;

    &:hover {
      color: $form-hover-color;
      text-decoration: underline;
    }
  }

  .entry-button {
    width: 100%;
    border-radius: 4px;
    background-color: red;
    @include fontM;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .facebook {
    background-color: #305DB8;
    padding: 12px 22px 12px 16px;
    flex: 1;

    &:hover {
      background-color: #022263;
    }
  }

.facebook-text {
  position: relative;

  &::before {
    content: '';
    height: 28px;
    width: 1px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    left: -18px;
    top: -7px;
  }
}

.google {
    background: #DF4A32;
    padding: 15px 26px 14px 10px;
    flex: 1;

    &:hover {
      background-color: #AB1F09;
    }
}

.google-text {
  position: relative;

  &::before {
    content: '';
    height: 28px;
    width: 1px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    left: -30px;
    top: -7px;
  }
}


.form-option-line {
  width: 100%;
  margin-top: 34px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  overflow: hidden;

    .or {
      @include fontS;
      color: #848484;
      position: relative;

      &::before, &::after {
        content: '';
        position: absolute;
        top: 58%;
        height: 1px;
        border-top: 1px solid #F2F2F2;
      }

      &:before {
        right: 17px;
        left: -2000%;
      }

      &:after {
        left: 17px;
        right: -2000%;
      }

    }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .input {
      outline: none;
      padding: 15px 0 15px 20px;
      border: 1px solid #F2F2F2;
      border-radius: 4px;
      @include fontS;
      color: $color-black;

      &::placeholder {
        @include fontS;
        color: #BEBEBE;
      }

      &:focus {
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
      }

  }

  .checkbox-label{
      width: 100%;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      gap: 11px;
      color: $form-color;

      &:hover {
        color: $form-hover-color;

        .label-link {
          color: $form-hover-color;
          text-decoration: underline;
        }
      }
  }

  .checkbox-hidden {
    display: none;
  }

  .checkbox {
        width: 20px;
        height: 20px;
        background: rgba(0, 0, 0, 0.0001);
        border: 1px solid #F2F2F2;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        .check-icon {
          display: none;
        }
  }

  .checkbox-hidden:checked ~ .checkbox .check-icon {
        display: inline;
  }

  .label-text {
        @include fontS;
        color: $color-black;
  }

  .label-link {
        color: $form-color;
  }





  .button {
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 16px;
    color: $color-white;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $form-hover-color;
    }
  }

}




