$color-white: #ffffff;
$color-black: #434343;
$hover-color: #02ff73;
$form-color: #3CB878;
$form-hover-color: #01813F;
$bg-color: #000000;
$bg-color-rgba: rgba(0, 0, 0, 0.4);
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)