@import "./_reset.scss";
@import "./_fonts.scss";
@import "./_fontawesome.scss";
@import "./_variables.scss";
@import "./_mixin.scss";
@import "./_header.scss";
@import "./_icons.scss";
@import "./_main.scss";

body {
  width: 100vw;
  min-height: 722px;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

.hidden {
  display: none;
}


.bg-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}