html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu-Regular.eot");
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url("../assets/fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Ubuntu-Regular.woff") format("woff"), url("../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu-Bold.eot");
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("../assets/fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Ubuntu-Bold.woff") format("woff"), url("../assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.fa-google-plus-g {
  font-size: 19px;
  text-align: center;
  width: 30px;
  scale: 1.3;
}

.fa-facebook-f {
  font-size: 24px;
}

.header {
  width: 100%;
  padding: 17px 79px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
}
.header:hover {
  opacity: 0.41;
  background: #000000;
  mix-blend-mode: normal;
}

.hd-logo-block {
  display: flex;
  align-items: center;
}
.hd-logo-block .hd-logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}
.hd-logo-block .hd-logo:hover {
  color: #02ff73;
}

.hd-panel {
  height: 24px;
  display: flex;
  justify-content: center;
  gap: 48px;
}
.hd-panel .hd-panel-icons {
  display: flex;
  gap: 24px;
}
.hd-panel .hd-panel-icons .icon-anch {
  color: #fff;
}
.hd-panel .hd-panel-icons .icon-anch:first-child {
  margin-right: 3px;
}
.hd-panel .hd-panel-icons .icon-anch:hover {
  color: #02ff73;
}
.hd-panel .hd-panel-greeting {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
}
.hd-panel .hd-panel-greeting::before {
  content: "";
  position: absolute;
  height: 19px;
  border-left: 1px solid #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
  left: -27px;
}
.hd-panel .hd-panel-greeting .entry {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: currentColor;
}
.hd-panel .hd-panel-greeting .entry:hover {
  color: #02ff73;
}

.header-icon {
  height: 24px;
  width: 24px;
}

.check-icon {
  width: 14px;
  height: 14px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 100%;
  max-width: 444px;
  padding-top: 30px;
  padding-bottom: 38px;
  background-color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-form-wrapper {
  width: 100%;
  max-width: 324px;
}

.form-entry {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.entry-signup {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.entry-signup::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 30px;
  background-color: #3CB878;
}

.entry-login {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3CB878;
}
.entry-login:hover {
  color: #01813F;
  text-decoration: underline;
}

.entry-button {
  width: 100%;
  border-radius: 4px;
  background-color: red;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facebook {
  background-color: #305DB8;
  padding: 12px 22px 12px 16px;
  flex: 1;
}
.facebook:hover {
  background-color: #022263;
}

.facebook-text {
  position: relative;
}
.facebook-text::before {
  content: "";
  height: 28px;
  width: 1px;
  background: #0A162F;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  left: -18px;
  top: -7px;
}

.google {
  background: #DF4A32;
  padding: 15px 26px 14px 10px;
  flex: 1;
}
.google:hover {
  background-color: #AB1F09;
}

.google-text {
  position: relative;
}
.google-text::before {
  content: "";
  height: 28px;
  width: 1px;
  background: #2B0D09;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  left: -30px;
  top: -7px;
}

.form-option-line {
  width: 100%;
  margin-top: 34px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.form-option-line .or {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  position: relative;
}
.form-option-line .or::before, .form-option-line .or::after {
  content: "";
  position: absolute;
  top: 58%;
  height: 1px;
  border-top: 1px solid #F2F2F2;
}
.form-option-line .or:before {
  right: 17px;
  left: -2000%;
}
.form-option-line .or:after {
  left: 17px;
  right: -2000%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form .input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form .input {
  outline: none;
  padding: 15px 0 15px 20px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.form .input::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #BEBEBE;
}
.form .input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form .checkbox-label {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 11px;
  color: #3CB878;
}
.form .checkbox-label:hover {
  color: #01813F;
}
.form .checkbox-label:hover .label-link {
  color: #01813F;
  text-decoration: underline;
}
.form .checkbox-hidden {
  display: none;
}
.form .checkbox {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #F2F2F2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form .checkbox .check-icon {
  display: none;
}
.form .checkbox-hidden:checked ~ .checkbox .check-icon {
  display: inline;
}
.form .label-text {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.form .label-link {
  color: #3CB878;
}
.form .button {
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding: 16px 0;
  text-align: center;
  cursor: pointer;
}
.form .button:hover {
  background-color: #01813F;
}

body {
  width: 100vw;
  min-height: 722px;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.hidden {
  display: none;
}

.bg-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
